.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 2rem 7%;
    background-color: rgba(255, 255, 255, 0.87);
    border-bottom: 1px solid rgba(47, 0, 255, 0.445);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 9999;
}
.navbar-fixed {
    background-color: rgb(15, 19, 18);
}

.container {
    height: 600px;
    padding-top: 5%;
}
.container img {
  display: flex;
}
.social-icons-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.social-icons-horizontal li {
    margin: 0 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    background-color: rgba(167, 54, 54, 0.281);
  }
  
.social-media {
    display: flex;
  }
  
.social-media a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    text-decoration: none;
  }
  
.fa-facebook-f,
.fa-twitter,
.fa-instagram {
    font-size: 20px;
  }
  .container .row a {
    text-shadow: 1px 3px 4px rgba(255, 255, 255, 0.911);
    font-family: Verdana, Tahoma, sans-serif;
}